<div class="row">
	<div class="col-sm-3">
		<figure>
			<img
				src="/assets/img/products/1.jpg"
				class="img-fluid"
				alt="img01"
			/>
			<figcaption>
				<h3>Product Name</h3>
				<span>Category</span>
				<a href="#">Details</a>
			</figcaption>
		</figure>
	</div>
</div>
