<!-- Hero -->
<div class="jumbotron jumbotron-fluid">
  <div class="bg-overlay">
      <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="display-4">{{about.title}}</h1>
          <p class="lead">{{about.subtitle}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="About" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-justify">
        <h4 class="main-text">About Us</h4>

        <p class="text-muted">Our Story</p>
        <p>
          R&R is a luxury beauty brand founded on the philosophy of transforming
          one of nature’s purest and richest gifts - Shea - into the most
          enriching beauty products.
        </p>
        <p>
          Founded by Beauty Entrepreneur Valerie Obaze in 2010, just after the
          birth of her daughter Rebecca Rose from whom the brand takes its name,
          R&R has since garnered international recognition in the world of
          luxury beauty and has won several awards for the excellence of it’s
          range of beauty products.
        </p>
        <p>
          Through an unwavering commitment to using the purest natural
          ingredients and a devotion to excellence in quality, Valerie Obaze has
          led R&R Luxury to create a range of luscious beauty formulations from
          Shea butter and other natural ingredients including essential oils for
          face, body and hair; liquid and bar soaps; scented candles and home
          fragrance; and lip balm. They are as good for women as for men,
          children and babies.
        </p>
        <p>
          Guided by the core values of ethical sourcing and nature preservation,
          R&R uses 100% natural Shea butter and other unrefined natural
          ingredients in all its formulations, sourced directly from the Shea
          countryside of Ghana, West Africa, the only region in the world where
          the mythical Shea tree has been growing for thousands of years.
        </p>
        <p class="">
          Each R&R product is an invitation to a voyage of discovery of the most
          beautiful versions of ourselves through the immeasurable benefits of
          Shea and other natural ingredients that make up nature’s gift to
          Africa and Africa’s gift to the world.
        </p>

        <h4 class="main-text">Our Ethics</h4>
        <p class="">
          Guided by the core values of ethical sourcing and nature preservation,
          R&R uses 100% natural Shea butter and other unrefined natural
          ingredients in all its formulations, sourced directly from the Shea
          countryside of Ghana, West Africa, the only region in the world where
          the mythical Shea tree has been growing for thousands of years.
        </p>
        <p>
          Our Shea Butter is processed by a women’s cooperative, especially put
          together to process high quality unrefined Shea butter. Our
          manufacturer provides these cooperative societies with loans, credit
          facilities and quality control expertise and a higher price for their
          quality processed Shea butter. This initiative has in the medium term,
          alleviated poverty amongst the rural women and in, the long term
          provides employment opportunities for rural women and young people.
        </p>
      </div>
    </div>
  </div>
</section>
