<section class="container-fluid p-0">
	<div class="newsletter">
		<div class="row">
			<div class="col-sm-12">
				<div class="content">
          <h2>Subscribe To Our Newsletter</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
					<div class="input-group">
						<input
							type="email"
							class="form-control"
							placeholder="Enter your email"
						/>
						<span class="input-group-btn">
							<button class="btn" type="submit">Subscribe Now</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
