.newsletter {
	position: relative;
	padding: 50px 10px;
	background: #fff;
}

.newsletter .content {
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.newsletter .content h2 {
	color: #0b0b0b;
}
.newsletter .content .form-control {
	border-radius: 0;
}
.newsletter .content.form-control:focus {
	box-shadow: none;
	border: 2px solid #0b0b0b;
}
.newsletter .content .btn {
	min-height: 50px;
	border-radius: 0;
	background: #0b0b0b;
	color: #fff;
}

.form-control {
	display: block;
	width: 100%;
	height: 50px;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #0b0b0b;
	background-clip: padding-box;
	border: 1px solid #0b0b0b;
	transition: all 0.15s ease-in-out;
}

.form-control:focus {
	border-color: inherit;
	outline: 0;
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #999;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #f0eee1;
	opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: not-allowed;
}

textarea.form-control {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: none;
}

#form_button {
	margin-top: 15px;
}
