<header class="cd-header">
		<div id="cd-logo"><a routerLink=""><img src="assets/img/logo-alt.png" alt="Logo"></a></div>
		<nav class="cd-primary-nav">
			<ul>
				<!-- inser more links here -->
				<li><a routerLink="">Login <i class="fas fa-sign-in-alt"></i></a></li>
			</ul>
		</nav> <!-- cd-primary-nav -->
  </header>

	<section id="cd-intro-tagline">
  </section> <!-- #cd-intro -->

	<div class="cd-secondary-nav">
		<a href="javascript:void" class="cd-secondary-nav-trigger">Menu<span><i class="fas fa-bars"></i></span></a> <!-- button visible on small devices -->
		<nav>
			<ul>
				<li>
					<a routerLink="/home" routerLinkActive="Active">
						<b>Home</b>
						<span><i class="fas fa-h-square"></i></span><!-- icon -->
					</a>
				</li>
				<li>
					<a routerLink="/about_us" routerLinkActive="Active">
						<b>About Us</b>
						<span><i class="fab fa-pagelines"></i></span><!-- icon -->
					</a>
				</li>
				<li>
					<a routerLink="/products" routerLinkActive="Active">
						<b>Products</b>
						<span><i class="fas fa-box-open"></i></span><!-- icon -->
					</a>
				</li>
				<li>
					<a routerLink="/blog" routerLinkActive="Active">
						<b>Blog</b>
						<span><i class="fas fa-pencil-alt"></i></span><!-- icon -->
					</a>
				</li>
				<li>
					<a routerLink="/contact_us" routerLinkActive="Active">
						<b>Contact Us</b>
						<span><i class="fas fa-headset"></i></span><!-- icon -->
					</a>
				</li>
			</ul>
		</nav>
	</div> <!-- .cd-secondary-nav -->
