<!-- Hero -->
<div class="jumbotron jumbotron-fluid">
  <div class="bg-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="display-4">{{product.title}}</h1>
          <p class="lead">{{product.subtitle}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="Products" class="container-fluid">
	<div class="container">
    <app-item></app-item>
	</div>
</section>
