#Products {
	position: relative;
	padding: 50px 10px;
}
.jumbotron {
	padding: 0px !important;
	position: relative;
	background: url("/assets/img/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
.bg-overlay {
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	color: #f0eee1;
	padding: 150px 50px;
}
