<!-- Hero -->
<div class="jumbotron jumbotron-fluid">
	<div class="bg-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h1 class="display-4">{{ contact.title }}</h1>
					<p class="lead">{{ contact.subtitle }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="Contact" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-justify">
				<form
					id="contact-form"
					class="form"
					action="#"
					method="POST"
					role="form"
				>
					<div class="form-group">
						<label class="form-label" for="name">Your Name</label>
						<input
							type="text"
							class="form-control"
							id="name"
							name="name"
							placeholder="Your name"
							tabindex="1"
							required
						/>
					</div>
					<div class="form-group">
						<label class="form-label" for="email">Your Email</label>
						<input
							type="email"
							class="form-control"
							id="email"
							name="email"
							placeholder="Your Email"
							tabindex="2"
							required
						/>
					</div>
					<div class="form-group">
						<label class="form-label" for="subject">Subject</label>
						<input
							type="text"
							class="form-control"
							id="subject"
							name="subject"
							placeholder="Subject"
							tabindex="3"
						/>
					</div>
					<div class="form-group">
						<label class="form-label" for="message">Message</label>
						<textarea
							rows="5"
							cols="50"
							name="message"
							class="form-control"
							id="message"
							placeholder="Message..."
							tabindex="4"
							required
						></textarea>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-outline-dark">
							Send Message
						</button>
					</div>
				</form>
        <hr>
			</div>
		</div>
	</div>
</section>
