#Contact {
	position: relative;
	padding: 50px 10px;
}
.jumbotron {
	padding: 0px !important;
	position: relative;
	background: url("/assets/img/3.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
.bg-overlay {
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	color: #f0eee1;
	padding: 150px 50px;
}

textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #0b0b0b;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: 0.333s ease top, 0.333s ease opacity;
	transition: 0.333s ease top, 0.333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
	box-shadow: none;
	background-color: #f0eee1;
}
.form-control:focus {
	box-shadow: none;
	border-color: #0b0b0b;
}
.js-hide-label {
	opacity: 0;
}
.js-unhighlight-label {
	color: #999;
}
