<!-- Hero -->
<div class="jumbotron jumbotron-fluid">
	<div class="bg-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h1 class="display-4">{{ article.title }}</h1>
          <p class="lead">{{ article.subtitle }}</p>
          <hr>
          <ul class="list-inline">
            <li>Date</li>
            <li>Author</li>
            <li>Views</li>
          </ul>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="Article" class="container">
  <div class="row">
      <div class="col-md-8">
        <div class="card-columns">

        </div>
      </div>
    </div>
</section>
