<div class="aside-widget">
	<div class="section-title">
		<h4 class="">Catagories</h4>
	</div>
	<div class="category-widget">
		<ul>
			<li *ngFor="let category of category">
				<a routerLink="{{ category.link }}" class="cat-1"
					>{{ category.name }}<span>{{ category.number }}</span></a
				>
			</li>
		</ul>
	</div>

	<div class="section-title">
		<h4 class="">Tags</h4>
	</div>
	<div class="tags-widget">
		<ul>
			<li *ngFor="let tag of tags">
				<a routerLink="{{ tag.link }}">{{ tag.name }}</a>
			</li>
		</ul>
	</div>
</div>
