/*=========================================================
	Aside
===========================================================*/
 .aside-widget {
     margin-bottom: 40px;
}
/*----------------------------*\
	category
\*----------------------------*/
 .category-widget ul li {
     display:block;
     padding-bottom: 10px;
     border-bottom: 1px solid #eceef2;
}
 .category-widget ul li + li {
     margin-top:10px;
}
 .category-widget ul li > a {
     display:block;
     -webkit-transition:0.2s color;
     transition:0.2s color;
}
 .category-widget ul li > a > span {
     float:right;
     color:#fff;
     background-color: #212631;
     padding:0px 5px;
     font-weight:600;
     border-radius:2px;
}
 .category-widget ul li > a.cat-1 > span {
     background-color: #4BB92F;
}
 .category-widget ul li > a.cat-2 > span {
     background-color: #ff8700;
}
 .category-widget ul li > a.cat-3 > span {
     background-color: #8d00ff;
}
 .category-widget ul li > a.cat-4 > span {
     background-color: #0078ff;
}
 .category-widget ul li > a:hover, .category-widget ul li > a:focus {
     text-decoration:none;
}
 .category-widget ul li > a.cat-1:hover, .category-widget ul li > a.cat-1:focus {
     color: #4BB92F;
}
 .category-widget ul li > a.cat-2:hover, .category-widget ul li > a.cat-2:focus {
     color: #ff8700;
}
 .category-widget ul li > a.cat-3:hover, .category-widget ul li > a.cat-3:focus {
     color: #0078ff;
}
 .category-widget ul li > a.cat-4:hover, .category-widget ul li > a.cat-4:focus {
     color: #8d00ff;
}
/*----------------------------*\
	tags
\*----------------------------*/
 .tags-widget ul li {
     display:inline-block;
     margin-right:3px;
     margin-bottom:5px;
}
 .tags-widget ul li a {
     display:block;
     color:#fff;
     background-color: #212631;
     padding:3px 10px;
     font-weight:600;
     border-radius:2px;
     -webkit-transition:0.2s opacity;
     transition:0.2s opacity;
}
 .tags-widget ul li a:hover, .tags-widget ul li a:focus {
     opacity:0.9;
     color:#fff;
     text-decoration:none;
}
/*----------------------------*\
	archive
\*----------------------------*/
 .archive-widget ul li {
     display:block;
     padding-bottom: 10px;
     border-bottom: 1px solid #eceef2;
}
 .archive-widget ul li + li {
     margin-top:10px;
}
 .archive-widget ul li > a {
     display:block;
}
