<div class="jumbotron jumbotron-fluid">
	<div class="bg-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h1 class="display-4">{{ shop.title }}</h1>
					<p class="lead">{{ shop.subtitle }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="Shop" class="container-fluid">
	<div class="container">
		<ngb-tabset justify="justified" type="tabs" class="tabset">
			<ngb-tab id="configTab" title="Shop Online">
				<ng-template ngbTabContent>
          <div class="card-columns mt-3">
            <a href="javascript:void" class="card text-white" (click)="modalTabs(tabContent)">
              <img src="assets/img/canada.png" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Country Name</h5>
              </div>
            </a>
          </div>
				</ng-template>
			</ngb-tab>

			<ngb-tab title="Shop In Person">
				<ng-template ngbTabContent>
					<p>
						Raw denim you probably haven't heard of them jean shorts Austin.
						Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
						cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
						butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
						qui irure terry richardson ex squid. Aliquip placeat salvia cillum
						iphone. Seitan aliquip quis cardigan american apparel, butcher
						voluptate nisi qui.
					</p>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</section>

<ng-template #tabContent let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Modal title</h4>
		<button
			type="button"
			class="close"
			aria-label="Close"
			(click)="modal.dismiss('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-dark"
			(click)="modal.close('Close click')"
		>
			Close
		</button>
	</div>
</ng-template>
