<!-- Hero -->
<div class="jumbotron jumbotron-fluid">
	<div class="bg-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<h1 class="display-4">{{ blog.title }}</h1>
					<p class="lead">{{ blog.subtitle }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="Blog" class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<app-post></app-post>
			</div>
		</div>

		<div class="col-md-4">
      <app-blogwidgets></app-blogwidgets>
		</div>
	</div>
</section>
