/* --------------------------------
Footer components
-------------------------------- */

#Footer {
  position: relative;
  bottom: 0;
  background: url("/assets/img/pattern.png") center top repeat-x;
  padding: 100px 0px;
  color: #f0eee1;
  background-color: #040404;
  text-align: center;
}

hr {
  border-top: #f0eee1 solid 1px;
}
