<app-subscribe></app-subscribe>
<section id="Footer" class="container-fluid">
  <ul class="nav justify-content-center main-text">
    <li
				class="nav-item"
				routerLinkActive="Active"
				*ngFor="let footerLink of navLinks"
			>
				<a class="nav-link" routerLink="{{footerLink.link}}">
					<b>{{footerLink.name}}</b>
				</a>
			</li>
  </ul>
  <div class="container">
    <hr />
    <ul class="list-inline float-right">
      <li class="list-inline-item">
        <p class="">
          &copy; R&R Luxury &nbsp;|&nbsp; Crafted with
          <i class="fas fa-heart"></i> by
          <a href="https://www.roninafrica.com">Ronin Africa</a>
        </p>
      </li>
    </ul>

    <ul class="list-inline float-left">
      <li class="list-inline-item" *ngFor="let Social of Social">
        <a href="{{Social.link}}" target="_blank"
          ><i class="fab {{Social.icon}}"></i></a>
      </li>
    </ul>
  </div>
</section>
