<!-- post -->
<div class="col-md-12" *ngFor="let article of Articles">
  <div class="post post-row">
    <a class="post-img" routerLink="/blog/{{article.id}}"><img src="{{article.image}}" alt="{{article.title}}"></a>
    <div class="post-body">
      <div class="post-meta">
        <a class="post-category cat-2" routerLink="{{article.categoryLink}}">{{article.categoryName}}</a>
        <span class="post-date"><i class="far fa-calendar-alt"></i> {{article.date}}</span>
      </div>
      <h3 class="post-title"><a routerLink="/blog/{{article.id}}">{{article.title}}</a></h3>
      <p>{{article.summary}}</p>
      <p><i class="fas fa-user"></i> &nbsp;<b>{{article.author}}</b></p>
    </div>
  </div>
</div>
<!-- /post -->
