/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: #f0eee1;
	color: #373737;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
}

/*** Scroll bar custom ***/

::-webkit-scrollbar {
	width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	/*-webkit-border-radius: 10px;*/
	/*border-radius: 10px;*/
}

/* Handle */

::-webkit-scrollbar-thumb {
	/*-webkit-border-radius: 10px;*/
	/*border-radius: 10px;*/
	background: rgba(66, 66, 66, 0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(66, 66, 66, 0.5);
}

p {
	margin-bottom: 3.2%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	letter-spacing: 0.1px;
	color: inherit;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 300ms ease-in;
}

a:hover {
	text-decoration: none;
	color: #666;
}

b {
	font-weight: 900;
}

i {
	font-style: italic;
}

hr {
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.underline {
	text-decoration: underline !important;
}

/**======================================
 Background Colors
 ====================================***/
.bg-main {
	background-color: #0b0b0b;
}
.turquoise {
	background-color: #1abc9c;
}

.green-sea {
	background-color: #9cd0f7;
}

.sun-flower {
	background-color: #f1c40f;
}

.orange {
	background-color: #f39c12;
}

.emerald {
	background-color: #00f000;
}

.nephritis {
	background-color: #003594;
}

.carrot {
	background-color: #e67e22;
}

.pumkin {
	background-color: #ffd600;
}

.peter-river {
	background-color: #3498db;
}

.belize-hole {
	background-color: #2980b9;
}

.alizarin {
	background-color: #cb0207;
}

.pomegranate {
	background-color: #e21737;
}

.amethyst {
	background-color: #9b59b6;
}

.wisteria {
	background-color: #c61a90;
}

.clouds {
	background-color: #ecf0f1;
}

.green {
	background-color: #d6df23;
}

.silver {
	background-color: #e1e1e1;
}

.wet-asphalt {
	background-color: #00263f;
}

.concrete {
	background-color: #95a5a6;
}

.midnight {
	background-color: #2c3e50;
}

.asbestos {
	background-color: #7f8c8d;
}

.dirt {
	background-color: #d9a371;
}

.white {
	background-color: #f8f8f8;
	color: #010101;
}

.btn-facebook {
	background-color: #0732a2;
}
.btn-google-plus {
	background-color: #d91e18;
}
.btn-instagram {
	background-color: #323b43;
}
.btn-linkedin {
	background-color: #00598e;
}
.btn-pinterest {
	background-color: #e21737;
}
.btn-tumblr {
	background-color: #36465d;
}
.btn-twitter {
	background-color: #48b8e7;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-right: auto;
	font-size: 12px;
	padding: 10px 25px;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 1.5;
	/* background-color: transparent; */
	letter-spacing: 1px;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.15s ease-in-out;
	border-radius: 0px;
}

@media (prefers-reduced-motion: reduce) {
	.btn {
		transition: none;
	}
}

.btn:hover {
	text-decoration: none;
}

.btn:focus,
.btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
	opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}
.text-main-color {
  color: #f0eee1;
}
