<ngb-carousel
	[showNavigationArrows]="false"
	[showNavigationIndicators]="true"
	interval="3000"
	[keyboard]="true"
	[pauseOnHover]="true"
	[wrap]="true"
	[activeId]="'secondSlide'"
>
	<ng-template ngbSlide *ngFor="let slide of slideData">
		<div class="picsum-img-wrapper overlay">
			<img class="img-fluid" src="{{ slide.image }}" alt="{{ slide.title }}" />
		</div>
		<div class="carousel-caption">
			<div class="animated fadeInUp">
				<h3>{{ slide.title }}</h3>
				<p>{{ slide.subtitle }}</p>
			</div>
		</div>
	</ng-template>
</ngb-carousel>
