ngb-carousel {
  max-width: 100%;
  background-color: #0b0b0b;
}

ngb-carousel img {
	width: 100%;
	outline: none;
}

ngb-carousel {
	width: inherit;
	height: inherit;
}

.carousel-inner {
	overflow: visible;
}

.carousel-item {
    display: block !important;
    z-index: 1;
    position: absolute;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    opacity: 0;
    visibility: hidden;
}
.carousel-item.active {
    position: relative;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    visibility: visible;
    opacity: 1;
}

.carousel-control-prev {
	z-index: 20;
}

.carousel-control-next {
	z-index: 20;
}

.carousel-indicators {
	z-index: 20;
}

.carousel-caption {
  background: rgba(0,0,0,0.6);
  right: 0;
  left: 0;
  bottom: 0;
  color: #f0eee1;
}
