.navbar {
  background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6965161064425771) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6965161064425771) 100%);
background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6965161064425771) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.navbar-scroll {
	background-color: rgba(0, 0, 0, 0.99);
	transition: background-color 0.5s;
}
@media (max-width: 768px) {
	.navbar {
		background-color: #0b0b0b !important;
	}
}
.logo {
  width: 60px;
  height: auto;
  transition: all 0.35ms ease-in;
}

@media (max-width: 1000px) {
  .logo {
      margin: 10px;
  }
}
.active {
  color: #f0eee1;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #f0eee1;
}
