<nav class="navbar navbar-expand-md navbar-dark bg-fade fixed-top">
	<a class="navbar-brand" routerLink=""
		><img class="logo" src="{{nav.logo}}" alt="Logo"
	/></a>
	<button
		class="navbar-toggler d-lg-none"
		type="button"
		(click)="isCollapsed = !isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="navbarsExampleDefault"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div
		class="collapse navbar-collapse"
		id="navbarsExampleDefault"
		[ngbCollapse]="isCollapsed"
	>
		<ul class="navbar-nav ml-auto">
			<li
				class="nav-item"
				routerLinkActive="Active"
				*ngFor="let setNav of navLinks"
			>
				<a class="nav-link" routerLink="{{setNav.link}}">
					<b>{{setNav.name}}</b>
				</a>
			</li>
		</ul>
	</div>
</nav>
